
.bottone-1{
    border: $bordo-bottone;
    background-color: $secondary-color;
    border-radius: 5px;
    width: 150px;
    height: 30px;
    margin-left: 25px;
    
}
.bottone-2{
    border: $bordo-bottone;
    background-color: $secondary-color;
    border-radius: 5px;
}