.footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    bottom: 100;
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    justify-content: space-around;

    .centrale{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    ul{
        list-style: none;
        text-transform: uppercase;
    }

}
